/* Embed Font */
@font-face {
    font-family: myNeutra;
    src: url(../fonts/NeutraText-Book.otf);
}

.container-top-mar{
	margin-top:-1px;
}
.col-img-padding{
	padding:0;
}
.wrapper-career{
	padding:10px 0 10px 0;
}
p{
	font-size:18px;
	font-family:myNeutra,serif,sans-serif;
	padding-top:30px;
}
.color-for-p{
	font-size:18px;
	font-family:myNeutra,serif,sans-serif;
	color:#7961AA;
}

div.dataTables_paginate{
	text-align:center;
}

.career-detail{
	background-color:#F5F5F5;
	padding:20px 30px 20px 40px;
	margin-bottom:20px;
	margin-top:20px;
}

.btn{
	font-size:15px;
	font-family:myNeutra,serif,sans-serif;
}
.btn-default:hover {
    background-color: #7961a9;
    color: white;
}

/* CSS pop up form */

.modal-body{
	padding:30px 50px 30px 50px !important;
}

label.red{
	color:red;
}

.push-right{
	float:right;
}

.btn-right{
	float:right;
}

.btn-right .btn-default{
	margin:20px 0 0 10px;
	width:100px;
}

.input-file { position: relative; } /* Remove margin, it is just for stackoverflow viewing */
.input-file .input-group-addon { border: 0px; padding: 0px;}
.input-file .input-group-addon .btn { border-radius: 0 4px 4px 0 }
.input-file .input-group-addon input { cursor: pointer; position:absolute; width:100%; z-index:2;top:0;right:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0; background-color:#d1d2d4; color:transparent; }

.btn-primary{
	background-color:#d1d2d4;
	border-color:#d1d2d4 !important;
	color:black;
}

.btn-primary:hover{
	background-color:#d1d2d4;
	color:black;
}



@media screen and (max-width:1024px){
	.remove-pd{
		padding:0;
	}
	
	.wrapper-career p{
		 font-size: 12px;
	}
	
	div.dataTables_wrapper div.dataTables_filter{
		text-align:right;
	}
	
	.wrapper-career .col-sm-7{
		margin-left:15%;
	}
	
	.career-detail{
		padding:20px;
	}
	
	.career-detail p{
		font-family:myNeutra,serif,sans-serif !important;
		font-size:12px !important;
	}
	
	.wrapper-career span{
		font-weight:530;
		font-family:myNeutra,serif,sans-serif ;
		color:#7961AA;
		font-size:19px;
	}
	
	.wrapper-career label{
		font-weight:10;
		font-family:myNeutra,serif,sans-serif ;
		color:black;
		font-size:12px;
	}
	
}