/* Embed Font */
@font-face {
    font-family: myNeutra;
    src: url(../fonts/NeutraText-Book.otf);
}

.wrapper-childsafe .childsafe-logo{
	margin:0 auto;
	padding:50px 0 40px 0;
}

.wrapper-childsafe .webchlaat{ 
	margin-top:40px;
}
.wrapper-childsafe p{
	font-size:18px;
	font-family:myNeutra,serif,sans-serif;
	padding-bottom:20px;
}

.col-img-padding{
    padding: 0;
}

.mg-bt{
	margin-bottom:80px;
}