/* Embed Font */
@font-face {
    font-family: myNeutra;
    src: url(../fonts/NeutraText-Book.otf);
}

.col-img-padding{
	padding:0;
}
.container-top-mar{
	margin-top:-1px;
}
.wrapper-profile{
	padding:80px 0 80px 0;
}
.profile-detail{
	font-size:18px;
	font-family:myNeutra,serif,sans-serif;
}
p{
	font-size:16px;
	font-family:myNeutra,serif,sans-serif;
}
p span{
	color:#7961AA;
	font-weight:bold;
}

.row-margin-bt{
	margin-bottom:80px
}
.wrapper-technology{
	border:1px solid #BBCAD2;
	padding:25px 30px 0 30px;
	min-height:656px;
}
.wrapper-technology a{
	color:#7961AA !important;
}

.wrapper-technology a:hover{
	text-decoration:none;
}

.wrapper-technology p{
	padding-bottom:11px;
}

.wrapper-technology	h3{
	color: #7961AA;
    font-weight: bold;
    font-size:30px;
    font-family: myNeutra,serif,sans-serif;
}

.wrapper-technology img{
	margin:0 auto;
	width:107px;
}
@media screen and (max-width:1024px){
	.wrapper-technology{
		margin-bottom:50px;
	}
	
	.wrapper-profile{
		padding: 20px 0 20px 0;
	}
}
@media screen and (min-width:1024px){
	.clear-pd-left{
		padding-left:0;
	}
	.clear-pd-right{
		padding-right:0;
	}
}