/* Embed Font */
@font-face {
    font-family: myNeutra;
    src: url(../fonts/NeutraText-Book.otf);
}

.col-img-padding{
	padding:0;
}
.container-top-mar{
    margin-top: -1px;
}
.wrapper-top span{
	position:absolute;
	top:290px;
	left:94px;
	z-index:1000;
}

.desciption-block{
	width:100%;
	height:auto;
	border:1px solid #919191;
	padding:15px;
}

.desciption-block p{
	font-size:17px;
	font-family:myNeutra,serif,sans-serif;
}

.about-ezesurf p{
	font-size:18px;
	font-family:myNeutra,serif,sans-serif;
	padding:60px 0 60px 0;
}
.mg-bt{
	margin-bottom:60px;
}
.package img{
	margin:0 auto;
}

.form-wrapper{
	display:none;
	position:absolute;
	background-color:#FFFFFF;
	box-shadow: 4px 4px 4px 4px #EEEFEF;
	z-index:1000;
	width:40%;
}
.form-wrapper{
	font-weight:bold;
	padding-top:10px;
}

.form-wrapper h4{
	color:#7961a9;
	font-weight:500;
}

.form-wrapper .package-info{
	padding:50px;
}

.formEmail .resize-textbox{
	width:100%;
}
.formEmail h5{
    font-size: 15px;
    color: #7961a9;
	font-weight:bold;
    border-bottom: 1px solid #ccc;
	padding-bottom:5px;
}
.formEmail p{
	padding:10px 0 10px 0;
}

/* Zoom In Package */
.package img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.package img:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	cursor:pointer;
}
.bonus-speed{
	background-color:#919191;
}
.bonus-speed p{
	color:white;
	padding:30px 5px 30px 5px;
	text-align:center;
	font-size:25px;
	font-family:myNeutra,serif,sans-serif;
}
.bonus-for{
	background-color:#E7E7E8;
}
.bonus-for ul{
	padding-bottom:10px;
	padding-top:10px;
	padding-left:40px;
}
.bonus-for ul li{
	list-style-type:none;
	display:inline-block;
	padding-right:20px;
}
.no-padding-left{
    padding-left: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.term-condition p{
	font-size:18px;
	font-family:myNeutra,serif,sans-serif;
    color:#404041;
	font-weight:bold;
}
.term-condition ul{
	padding-left:15px;
}
.term-condition ul li{
	list-style-image:url('../../../images/our-services/Ezesurf/ezesuf_list.gif');
	line-height:25px;
	font-family:myNeutra,serif,sans-serif;
	color:#404041;
	font-size:16px;
}
.wrapper-top span img{
	width:125px;
}
/* Zoom In Sign Up */
.wrapper-top span img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.wrapper-top span img:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	cursor:pointer;
}

@media screen and (max-width:1024px){
	.form-wrapper{
		width:100%;
		padding-right:50px;
	}
	
	.wrapper-top span{
		position:absolute;
		top:85px;
		left:24px;
		z-index:1000;
	
	} 
	
	.wrapper-top  .btn-signmeup{
		width:80px;
	}
	
	.about-ezesurf p{
		font-size:10px;
		padding: 30px 0 30px 0;
	}
}

@media screen and (max-width:1024px){
	.no-padding-left{
		padding-left: 15px !important;
	}

	.no-padding-right{
		padding-right: 15px !important;
	}
}