/* Embed Font */
@font-face {
    font-family: myNeutra;
    src: url(../fonts/NeutraText-Book.otf);
}

.IPLC_wrapper h2{
	color: #7961AA;
    font-weight: bold;
    font-size:64px;
    font-family:myNeutra,serif,sans-serif;
	padding-top:10px;
}
.IPLC-img img{
	margin-top:50px;
	position:relative;
	left:50px;
}
.IPLC_wrapper{
	margin-top:110px;
}

.IPLC_wrapper p span{
	color: #7961AA;
	font-family:myNeutra,serif,sans-serif;
	font-weight:bold;
	font-size:20px;
	text-align:center;
}
.IPLC_wrapper p{
	font-family:myNeutra,serif,sans-serif;
	font-size:16px;
}

.IPLC_wrapper img{
	margin-top:30px;
}
.IPLC-structure{
	background-color:#F6F6F6;
	padding:20px;
}
.mg-top-bt{
	margin-bottom:20px;
	margin-top:60px;
}
.features{
	color: #7961AA;
	font-family:myNeutra,serif,sans-serif;
	font-weight:bold;
	font-size:30px;
	margin:0;
	padding:30px 0 20px 0;
}
.first ul,.b-first ul, .b-second ul,.b-third ul ,.second ul,.third ul{
	list-style-image:url('../../../images/our-services/IPLC/bullet.png');
	padding-top:20px;
	line-height:30px;
	font-family:myNeutra,serif,sans-serif;
	font-size:15px;
	padding:0 40px 0 40px;
}

.mg-bt{
	margin-bottom:60px;
}

.form-wrapper{
	display:none;
	position:absolute;
	background-color:#FFFFFF;
	box-shadow: 4px 4px 4px 4px #EEEFEF;
	z-index:1000;
	width:100%;
}
.form-wrapper{
	font-weight:bold;
	padding-top:10px;
}

.form-wrapper h4{
	color:#7961a9;
	font-weight:500;
}

.form-wrapper .package-info{
	padding:50px;
}

.formEmail .resize-textbox{
	width:100%;
}
.formEmail h5{
    font-size: 15px;
    color: #7961a9;
	font-weight:bold;
    border-bottom: 1px solid #ccc;
	padding-bottom:5px;
}
.formEmail p{
	padding:10px 0 10px 0;
}

.IPLC_wrapper img{
	width:125px;
}
/* Zoom In Sign Up */
.IPLC_wrapper img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.IPLC_wrapper img:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	cursor:pointer;
}

.benefits-bg{
	background-color:#F2F3F4;
	overflow:hidden;
	padding:20px;
	min-height:300px;
}

.mg-bt-benefit{
	margin-bottom:80px;
}

.block-feature{
	padding:20px;
	min-height:300px;
}

@media screen and (max-width:1024px){
	.form-wrapper{
		width:100%;
		padding-right:50px;
	}
	.first ul, .b-first ul, .b-second ul, .b-third ul ,.second ul,.third ul{
		padding-left:20px;
	}
	.IPLC-img img{
		margin-top:50px;
		position:relative;
		left:0;
	}
}

@media screen and (min-width:1024px){
	.clear-pd-left{
		padding-left:0;
	}
	.clear-pd-right{
		padding-right:0;
	}
}