/* Embed Font */
@font-face {
    font-family:myNeutra,serif,sans-serif;
    src: url(../fonts/NeutraText-Book.otf);
}
.full-title{
	font-family:myNeutra,serif,sans-serif;
    font-size:64px;
    color: #7961a9;
    font-weight: bold;
    padding:50px 0 50px 0;
    margin:0;
	text-align:center;
}

.top-news{
	padding:50px;
	background:#6b53a2;
}

.clear-pd{
	padding-left:0;
	padding-right:0;
}


.top-news p{
	font-family:myNeutra,serif,sans-serif;
	font-size:16px;
	padding:0 5px 0 10px;
	line-height:30px;
	color:white;
}

.top-news img{
	padding-right:50px;
	float:left;
}
.top-news a{
	color:#7961a9;
	font-weight:500;
	font-size:15px;
	color:white;
}
.top-news a h5{
	font-family:myNeutra,serif,sans-serif;
	color:white;
	font-size:20px;
	font-weight:bold;
	line-height:26px;
}

.top-news a:hover{
	text-decoration:none;
}

.sub-news img{
    max-width: 250px;
    max-height: 200px;
	padding-right:20px;
	float:left;
}
.sub-news p{
	font-family:myNeutra,serif,sans-serif;
	font-size:16px;
	padding:0 5px 0 10px;
}
.sub-news a{
	color:#7961a9;
	font-weight:500;
	font-size:15px;
}
.sub-news a h5{
	font-family:myNeutra,serif,sans-serif;
	color:#7961a9;
	font-size:17px;
	font-weight:700;
	line-height:22px;
}

.sub-news a:hover{
	text-decoration:none;
}


.row-mg-bt{
	margin-bottom:20px;
}

.row-mg-top{
	margin-top:40px;
}

.pagination a{
	color:#7961AA !important;
	color:white;
}
.pagination>.active>a{
	background-color:#7961AA !important;
	color:white !important;
	border-color:#7961AA !important;
}

.mg-bt{
	margin-bottom:60px;
}
@media screen and (max-width:1000px){
	.top-news img{
		padding:0 0 10px 0;
	}
	.sub-news img{
		float:none;
		max-width:100%;
		max-height:100%;
		padding:0;
	}
	.top-news p{
		padding: 0 5px 0 0px;
	}
	.sub-news p {
		padding: 0 5px 0 0px;
	}
}
