/* Embed Font */
@font-face {
    font-family: myNeutra;
    src: url(../fonts/NeutraText-Book.otf);
}

.wrapper-qms img{
	margin:0 auto;
	padding:60px 0 30px 0;
}
.wrapper-certificate{
	padding:20px;
}

.wrapper-certificate p{
	font-size:18px;
	font-family:myNeutra,serif,sans-serif;
	padding-bottom:20px;
}
.core-value, .qms, .policy {
	background-color:#f1f1f2;
	height:370px;
	margin-bottom:20px;
}
.core-value h3, .qms h3, .policy h3{
	color:#7961AA;
    font-weight: bold;
    font-size:30px;
    font-family: myNeutra,serif,sans-serif;
	padding-bottom:5px;
	padding:25px 30px 5px 30px;
	
}
.core-value{
	padding-bottom:20px;
}
.core-value h6{
	color:#7961AA;
	font-family: myNeutra,serif,sans-serif;
	font-size:18px;
}
.qms p, .policy p{
	font-family: myNeutra,serif,sans-serif;
	font-size:16px;
	padding:0 30px 25px 30px;
}
.core-value p{
	font-family: myNeutra,serif,sans-serif;
	font-size:18px;
	padding-left:15px;
	line-height:18px;
}
.tab-in{
	color:#404041 !important;
	margin-left: 10px;
	font-weight:50 !important;
	font-size:16px !important;
}
.core-value p span{
	font-weight:bold;
	color:#7961AA;
	font-family: myNeutra,serif,sans-serif;
	padding: 0 11px 11px 16px;
}
.row-margin-bt{
	margin-bottom:50px
}

@media screen and (max-width:1024px){
	.remove-pd{
		padding:0;
	}
	
	.wrapper-certificate{
		padding:5px;
	}
	
	.wrapper-certificate p{
		font-size:12px
	}
	
	.core-value h3, .qms h3, .policy h3{
		font-size:20px;
	}
	
	.qms p, .policy p{
		font-size:12px;
	}
	
}