/* Embed Font */
@font-face {
    font-family: myNeutra;
    src: url(../fonts/NeutraText-Book.otf);
}

.form-wrapper{
	min-height:500px;
	margin-bottom:40px;
}

.form-wrapper p{
	color:#7961a9;
	font-size:40px;
	font-weight:bold;
	font-family:myNeutra,serif,sans-serif;
	padding:40px 0 40px 0;
}
.form-wrapper label{
	font-size:14px;
	font-family:myNeutra,serif,sans-serif;
	font-weight:1 !important;
}
.form-wrapper label.red{
	color:red
}
.btn-default:hover{
	background-color:#7961a9;
	color:white;
}