.EZECOM-logo img{
	float:left;
	max-width:232px;
	max-height:35px;
}
.language img{
	cursor:pointer;
	max-width:36px;
	max-height:35px;
}

/* Top Header Fix */
#top-header-fix{
	width:100%;
	height:auto;
	position:fixed;
	z-index:1000;
	top:-80px;
}
#top-header-fix .middle-block{
	height:auto;
	margin:0 auto;
}