
.infinity-carousel {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  max-width:1000px
}

.infinity-carousel .nav {
  color: white;
  font-weight: bold;
  font-size: 2em;
  background-color: #7961aa;
}

.infinity-carousel .nav.prev:before { content: '<'; }

.infinity-carousel .nav.next:before { content: '>'; }

.infinity-carousel .slides > * { /*outline: 1px solid #ddd;*/ }

.infinity-carousel .img-wrap {
  /*background-color: #aaa;*/
}

.infinity-carousel .slides > *:nth-child(odd) .img-wrap { /*background-color: #ddd;*/ }

.infinity-carousel {
  position: relative;
  overflow: hidden;
}

.infinity-carousel .no-transition { transition: none!important; }

.infinity-carousel .nav {
  position: absolute;
  display: block;
  width: 40px;
  height: 45px;
  top: 50.5px;
  z-index: 50;
  opacity: 0.5;
  border: 0;
  cursor: pointer;
  -webkit-apperance: none;
}

.infinity-carousel .nav:hover { opacity: 1; }

.infinity-carousel .nav.next { right: 0; }

.infinity-carousel .center {
  position: relative;
  width: 180px;
  height: 250px;
  margin: 0 auto;
}

.infinity-carousel .text {
  position: relative;
  width: 180px;
  height: 75px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.1;
  transition: opacity 0.4s linear;
}

.infinity-carousel .active .text { opacity: 1; }

.infinity-carousel .slides {
  position: absolute;
  width: 100000px;
  height: 100%;
  transition: all 0.4s;
}

.infinity-carousel .slides > * {
  position: relative;
  float: left;
  width: 206px;
  height: 100%;
  overflow: hidden;
}

.infinity-carousel .img-wrap {
  width: 209px;
  height: 144px;
  margin: 0 auto;
  overflow: hidden;
}

.infinity-carousel img { height: 100%; }

.header_slides{
	padding-bottom:20px;
}
 .custom .blog h3{
	 line-height:35px;
}
.event_title{
	font-size:12px;
	margin-top:10px;
}
/* screen iphone 6 */
@media screen and (max-width: 375px){
   .custom .blog h3{
	 font-size:15px;
	 line-height:20px;
	}
	
	.header_slides{
	 font-size:15px;
	 line-height:20px;
	 padding-bottom:20px;
	}
	
	.event_title{
	 padding-top:5px;
	 font-size:12px;
	 line-height:20px;
	 text-align:center;
	}
}

/* screen iphone 6 plus */
@media screen and (max-width: 414px){
   .custom .blog h3{
	 font-size:15px;
	 line-height:20px;
	}
	
	.header_slides{
	 font-size:15px;
	 line-height:20px;
	 padding-bottom:20px;
	}
	
	.event_title{
	 font-size:12px;
	 line-height:20px;
	 padding-top:5px;
	 text-align:center;
	}
}

.main_content img{
	 width:100% !important;
	 height:auto !important;
}
/* main image responsive iphone 6*/
@media screen and (max-width: 375px){
   .main_content img{
	 width:100% !important;
	 height:auto !important;
	}
}

/* main image responsive iphone 6 plus */
@media screen and (max-width: 414px){
   .main_content img{
	 width:100% !important;
	 height:auto !important;
	}
}


/* mouse hover on slide */
.img-wrap:hover{
	opacity:0.6;
}
.ev-title:hover{
	opacity:0.7;
}

